<nav class="navbar">
  <div class="logo" routerLink="/home">
    ToDo List
  </div>


  @if (user$ | async; as user) {

    <div class="nav-links">

      <a routerLink="/private">
        Mis tareas
      </a>

      <a routerLink="/perfil">
        Perfil
      </a>

      <span class="user-email">
        {{ user.email }}
      </span>

      <button (click)="logout()">
        Cerrar sesión
      </button>

    </div>

  } @else {

    <div class="nav-links">

      <a routerLink="/">
        Login
      </a>

    </div>

  }
</nav>