<nav class="navbar">
  <div class="logo" routerLink="/home">
    ToDo List
  </div>


  @if (user$ | async; as user) {

    <div class="nav-links">

      <a routerLink="/home">
        Tareas
      </a>

      <a routerLink="/perfil">
        Area privada (
        <span class="user-email">
          {{ user.email }}
        </span>)
      </a>


      <button (click)="logout()">
        Cerrar sesión
      </button>

    </div>

  } @else {

    <div class="nav-links">

      <a routerLink="/">
        Login
      </a>

    </div>

  }
</nav>