
/*
.lista_comentarios {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}*/

.comentario-card {
  position: relative;
  max-height: 360px;

  margin-top: 10px;
  background: #fff;
  border-radius: 14px;
  padding: 1rem 1.25rem;

  box-shadow: 0 4px 10px rgba(0,0,0,.06);

  transition: .2s ease;

  &:hover {
    box-shadow: 0 8px 20px rgba(0,0,0,.10);
  }
}

.comentario-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: .75rem;
}

.comentario-usuario {
  display: flex;
  align-items: center;
  gap: .75rem;
}

.avatar {
  width: 42px;
  height: 42px;

  border-radius: 50%;

  background: #1976d2;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 1rem;

  flex-shrink: 0;
}

.username {
  font-weight: 600;
  color: #333;
}

.fecha {
  color: #888;
  font-size: .8rem;
}

.comentario-content {
  color: #444;
  line-height: 1.6;

  white-space: pre-wrap;
  word-break: break-word;

  overflow-y: auto;
  overflow: hidden;

  margin-bottom: 0px;
}/**/
/*
.comentario-footer {
  margin-top: 1rem;

  display: flex;
  gap: 1rem;
}

.comentario-footer button {
  background: none;
  border: none;

  cursor: pointer;

  color: #666;

  transition: .2s;

  &:hover {
    color: #1976d2;
  }
}























.comment-header{

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    position:relative;
}*/
.menu-container{

  display: flex;
  flex-direction: row-reverse;


    position:relative;
}
.menu-btn{

    border:none;

    background:none;

    font-size:22px;

    cursor:pointer;

    color:#666;

    width:36px;

    height:36px;

    border-radius:50%;

    transition:.2s;

    &:hover{

        background:#f3f4f6;

        color:#111;

    }

}

.comment-menu{

    position:absolute;

    top:42px;

    right:0;

    background:white;

    border-radius:10px;

    box-shadow:0 8px 20px rgba(0,0,0,.12);

    min-width:160px;

    overflow:hidden;

    z-index:20;

}
.comment-menu button:hover{

    background:#f5f5f5;

}
.comment-menu .delete{

    color:#d32f2f;

}
.comment-menu .delete:hover{

    background:#ffebee;

}