<div class="profile-container">

  <div class="profile-card">

    <div class="profile-header">
      @if (editing) {
        <div
            class="avatar-wrapper">

            <img
                class="avatar"
                [src]="getAvatarUrl(user.avatar_url)"
                (click)="avatarInput.click()">

            <div
                class="avatar-overlay"
                (click)="avatarInput.click()">

                📷
                <span>Cambiar foto</span>

            </div>

            <input
                #avatarInput
                hidden
                type="file"
                accept="image/*"
                (change)="onAvatarSelected($event)">

        </div>

      } @else {

         @if (user.avatar_url) {

          <img
            [src]="getAvatarUrl(user.avatar_url)"
            [alt]="user.username"
            [title]="user.username"
            class="avatar">

        } @else {


          <div class="avatar">

            {{ user.username?.charAt(0)?.toUpperCase() }}

          </div>

        }

      }
      

      <div class="profile-title">

        @if(!editing){

          <h1>{{ user.username }}</h1>

        } @else {

          <input
            name="Nombre"
            placeholder="Nick del usuario"
            class="title-input"
            [(ngModel)]="user.username">

          <button class="btn-cancel"
            (click)="eliminarFoto()">
            Eliminar foto
          </button>
        }

      </div>


    </div>

    <div class="profile-grid">

      <div class="info-card">

        <span class="label">
          Nombre
        </span>

        @if(!editing){

          <span class="info-card-dato">
            {{ user.name || 'No especificado' }}
          </span>

        } @else {

          <input
            name="Nombre"
            placeholder="Nombre completo del usuario"
            class="edit-input"
            [(ngModel)]="user.name">

        }

      </div>

      <div class="info-card">

        <span class="label">
          Apellidos
        </span>

        @if(!editing){

          <span class="info-card-dato">
          {{ user.lastname || 'No especificado' }}
          </span>

        } @else {

          <input
          placeholder="Apellidos del usuario"
          class="edit-input"
          [(ngModel)]="user.lastname">

        }

      </div>

      <div class="info-card">

        <span class="label">
          Email
        </span>

        <span class="info-card-dato">
          {{ user.email }}
        </span>

      </div>

      <div class="info-card">

        <span class="label">
          Teléfono
        </span>

        
        @if(!editing){

          <span class="info-card-dato">
          {{ user.phone || 'No especificado' }}
          </span>

        } @else {

          <input
          placeholder="Teléfono del usuario"
          class="edit-input"
          [(ngModel)]="user.phone">

        }

      </div>
      <div class="info-card">


      </div>
      <div class="info-card">

        <span class="label">
          Rol
        </span>

        <span class="info-card-dato">
          {{ user.role_id }}
        </span>

      </div>

    </div>

    <div class="profile-actions">

      @if(!editing){

        <button
          class="btn-primary"
          (click)="editProfile()">

          Editar perfil

        </button>

        <button
          class="btn-secondary">

          Cambiar contraseña

        </button>

      } @else {

        <button
          class="btn-save"
          (click)="saveProfile()">

          Guardar

        </button>

        <button
          class="btn-cancel"
          (click)="cancelEdit()">

          Cancelar

        </button>

      }

    </div>

  </div>

</div>