

<div class="password-box">
  <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()">

    <h2>Cambiar contraseña</h2>

    <!-- Contraseña actual -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña actual</mat-label>

      <input
        matInput
        type="password"
        formControlName="currentPassword"
        placeholder="Introduce tu contraseña actual">

      <mat-error
        *ngIf="passwordForm.get('currentPassword')?.invalid &&
               passwordForm.get('currentPassword')?.touched">

        La contraseña actual es obligatoria

      </mat-error>
    </mat-form-field>

    <!-- Nueva contraseña -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nueva contraseña</mat-label>

      <input
        matInput
        type="password"
        formControlName="newPassword"
        placeholder="Introduce una nueva contraseña">

      <mat-error
        *ngIf="passwordForm.get('newPassword')?.hasError('required')">

        La nueva contraseña es obligatoria

      </mat-error>

      <mat-error
        *ngIf="passwordForm.get('newPassword')?.hasError('minlength')">

        Debe tener al menos 6 caracteres

      </mat-error>

    </mat-form-field>

    <!-- Confirmar contraseña -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirmar contraseña</mat-label>

      <input
        matInput
        type="password"
        formControlName="confirmPassword"
        placeholder="Repite la nueva contraseña">

      <mat-error
        *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">

        Debes confirmar la contraseña

      </mat-error>

      <mat-error
        *ngIf="
          passwordForm.hasError('passwordMismatch') &&
          passwordForm.get('confirmPassword')?.touched
        ">

        Las contraseñas no coinciden

      </mat-error>

    </mat-form-field>

    <div class="actions">

      <button
        type="button"
        mat-button
        (click)="cancelChangePassword()">

        Cancelar

      </button>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="passwordForm.invalid">

        Guardar

      </button>

    </div>

  </form>
</div>