<div class="task-detail-container">

  <div class="task-detail-card" *ngIf="tarea">

    <div class="task-header">

      <div>

        <ng-container *ngIf="!editing; else editName">

          <h1>{{ tarea.name }}</h1>

        </ng-container>

        <ng-template #editName>

          <input
            placeholder="Nombre de la tarea"
            class="edit-input title-input"
            [(ngModel)]="tarea.name">

        </ng-template>

        <p class="task-id" >
          Tarea #{{ tarea.task_id }}
        </p>

      </div>

      <ng-container *ngIf="!editing; else editPriority">

        <span
          class="priority"
          [ngClass]="tarea.priority">

          {{ getPriorityLabel(tarea.priority) }}

        </span>

      </ng-container>

      <ng-template #editPriority>

        <select
          title="Prioridad"
          class="edit-select"
          [(ngModel)]="tarea.priority">

            <option
              *ngFor="let priority of prioridades"
              [value]="priority.value">

              {{ priority.label }}

        </select>

      </ng-template>

    </div>

    <div class="task-section">

      <h3>Descripción</h3>

      <ng-container *ngIf="!editing; else editDescription">

        <p>{{ tarea.description }}</p>

      </ng-container>

      <ng-template #editDescription>

        <textarea
          placeholder="Descripción de la tarea"
          rows="6"
          class="edit-textarea"
          [(ngModel)]="tarea.description">
        </textarea>

      </ng-template>

    </div>

    <div class="task-info-grid">

      <div class="info-card">

        <span class="label">Estado</span>

        <ng-container *ngIf="!editing; else editStatus">

          <span
            class="status"
            [ngClass]="tarea.status">

            {{ getStatusLabel(tarea.status) }}

          </span>

        </ng-container>

        <ng-template #editStatus>

          <select
            title="status"
            class="edit-select"
            [(ngModel)]="tarea.status">

            <option
              *ngFor="let status of estatus"
              [value]="status.value">

              {{ status.label }}

          </select>

        </ng-template>

      </div>

      <div class="info-card">

        <span class="label">Creada</span>

        <span>
          {{ tarea.created_at | date:'dd/MM/yyyy HH:mm' }}
        </span>

      </div>

      <div class="info-card">

        <span class="label">Actualizada</span>

        <span>
          {{ tarea.updated_at | date:'dd/MM/yyyy HH:mm' }}
        </span>

      </div>

      <div
        class="info-card"
        *ngIf="tarea.parent_task_id">

        <span class="label">Tarea padre</span>

        <span>#{{ tarea.parent_task_id }}</span>

      </div>

    </div>

    <div class="task-actions">

      <button
        *ngIf="!editing"
        class="btn-edit"
        (click)="editTask()">

        Editar

      </button>

      <ng-container *ngIf="editing">

        <button
          class="btn-save"
          (click)="saveTask()">

          Guardar

        </button>

        <button
          class="btn-cancel"
          (click)="cancelEdit()">

          Cancelar

        </button>

      </ng-container>

      <button
        *ngIf="!editing"
        class="btn-delete"
        (click)="deleteTask()">

        Eliminar

      </button>

    </div>

  </div>

</div>

<app-comments 
      [idTarea]="idTarea"></app-comments>