<div class="register-box">
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

    <h2>Nuevo usuario</h2>

    <!-- Nombre -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre</mat-label>
      <input
        matInput
        formControlName="name"
        placeholder="Introduce tu nombre">

    </mat-form-field>

    <!-- Apellidos -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Apellidos</mat-label>
      <input
        matInput
        formControlName="lastname"
        placeholder="Introduce tus apellidos">

    </mat-form-field>

    <!-- Nombre de usuario -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre de usuario</mat-label>
      <input
        matInput
        formControlName="username"
        required
        placeholder="Introduce un nombre de usuario">

      <mat-error *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
        El nombre de usuario es obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        required
        placeholder="Introduce tu email">

      <mat-error *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        Introduce un correo válido
      </mat-error>
    </mat-form-field>

    <!-- Teléfono -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Teléfono</mat-label>
      <input
        matInput
        formControlName="phone"
        placeholder="Introduce tu teléfono">

    </mat-form-field>

    <!-- Contraseña -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        required
        placeholder="Introduce una contraseña">

      <mat-error *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        Debe tener al menos 6 caracteres
      </mat-error>
    </mat-form-field>

    <div class="actions">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="registerForm.invalid">

        Registrarse

      </button>
    </div>

  </form>
</div>