<div class="comments_container">
  <div class="comments-card">
    <div class="comments-header">

      <div class="comments_header">
        <p class="comments_title" >
            comentarios
        </p>
        <button
          *ngIf="!addingComment"
          class="btn-new-comment"
          (click)="addingComment = true">

          💬 Añadir comentario

        </button>
      </div>

      <app-create-comment 
        class="new-comment"
        [addingComment]="addingComment"
        (sendComment)="saveComment({content:$event,parent_comment_id:null})"
        (cancelAddingComment)="cancelComment($event)">
      </app-create-comment>
    </div>
    
    <div class="comments-section">

      <ng-container *ngIf="comentarios == undefined || comentarios.length < 1; else muestraComentarios">

        <h2>Sin comentarios</h2>

      </ng-container>

      <ng-template #muestraComentarios>
        <div class="lista_comentarios">

          <app-comment-card
            *ngFor="let comentario of comentarios"
            [comentario] = "comentario"
            [openedMenu]="openedMenu"
            (idCommentDeleted)="deleteComment($event)"
            (menuOpened)="toggleMenu($event)"
            (sendComment)="saveComment($event)">
          </app-comment-card>

        </div>
      </ng-template>

    </div>
  </div>
</div>